.datetime_box {
  color: #88BFCF;
  border: 1px solid #88BFCF;
  min-width: 200px;
  padding: 10px;
}

.datetime_clock {
  font-size: 32px;
  font-weight: bold;
}

.datetime_date {
  padding: 0;
  font-size: 14px; 
}
