* {
    /* `otf-font-awesome` is required to be installed for icons */
    all: unset;
    font-family: Iosevka Term, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
  
}

window>box {
    background-color: rgba(15, 15, 15, 0.7);
    margin: 10px 0px 10px 10px;
    border: 1px solid rgba(124, 124, 124, 1);
    padding: 0px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

.modules-center {
  padding: 0px 0px;
  margin: 0px 0px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

#workspaces {
    margin: 0px;
    padding: 0px;
}

#workspaces button {
    color: #ffffff;
    padding: 5px 0px;
    margin: 0px;
}

#workspaces button label {
     margin: 0px 0px;
     padding: 5px 5px;
     font-size: 10px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background: rgba(0, 0, 0, 0.6);
}

#workspaces button.empty {
    color: #555555;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 10px 5px;
    color: #ffffff;
}

#window,
#workspaces {
    padding: 0 0px;
}

#clock {
    background-color: rgba(10,10,10,1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
